{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
        background: "black",
        showButtonPanel:"true",

      // You can put more options here.

    });
  });
    $(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});

  </script>

</head>

<body style="background-color: white">

<div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2" >
    <div class="panel" style="padding-top: 30px">
      <div class="panel-heading">
    <h2>Register Form</h2>
      </div>
    <div class="panel-body">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">รายละเอียดส่วนตัว</a></li>
    <li><a href="#menu1">รายละเอียดเครื่อง</a></li>
    <li><a href="#menu2">รยละเอียดเพิ่มเติม</a></li>
    <li><a href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h4>กรุณากรอกข้อมูลส่วนตัว</h4>
      <form method="POST">
          {% csrf_token %}
          {% bootstrap_form register_form%}
      </form>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h4>กรุณากรอกรายละเอียดเพิ่มเติม</h4>
       <form method="POST">
          {% csrf_token %}
          {% bootstrap_form model_form%}
      </form>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
      </div>
  </div>
</div>




        <!--<div class="panel col-lg-4 col-lg-offset-4 col-md-4 col-md-4 col-sm-4 col-sm-offset-2">
            <div class="panel-heading" style="background-color:darkgray">
                <h4>Register Form</h4>
            </div>
            <div class="nav nav-tabs">
                <li role="presentation" class="active" id="profile"><a href="#">Home</a>
             <div class="panel-body">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form register_form %}

            </form>
            </div>
                </li>
                <li role="presentation" id="data"><a href="#">ข้อมูลเครื่อง</a>
                    <div class="panel-body">
                        <form method="POST" hidden>
                            {% csrf_token %}
                            {% bootstrap_form register_form %}
                        </form>
                    </div>

                </li>
            </div>
        </div>-->
</body>
</html>